#title 
{
    background-color: black;
    text-align: left;

}
#sub {
    background-color: blueviolet;
}
#c {
    background-color: lightblue;
}
h3{
    color: darkmagenta;
    text-align: right;
    text-decoration: underline;
    font-family: sans-serif;
    font-weight: lighter;
}
h1{
    color: white;
    font-family: cursive;
}
span{
    color: aqua;
}
h2{
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-style: italic;
}